
@use "@scss/index" as utils;

.DropDown {
  font-size:1rem;

  position: fixed;

  inset:0;

  z-index: 1000;

  width:100vw;
  height:100vh;

  background-color: #fff;

  transform: translateX(100vw);
  visibility: hidden;

  transition: transform 0.4s linear, visibility 0s linear 0.4s;

  &.active{
    transform: translateX(0);
    visibility: visible;

    transition: transform 0.4s linear, visibility 0s linear 0s;
  }

  @media (max-width: 550px){
    font-size:0.9rem;
  }
}


.DropDownInner{
  padding-inline:15px;
  margin-top:-2em;

  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:2em;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5em;

  @media (max-width: 1024px) {
    gap: 2em;
  }
}

.link {
  text-decoration: none;
  color: #4a4a4a;
  position: relative;
  padding: 0.25em 0;
  transition: color 0.2s ease;

  @include utils.getFont('Inter', 2em, 500, 1.5);

  &::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #107e3e;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateX(-50%);
    opacity: 0;
  }

  &:hover {
    color: #107e3e;

    &::after {
      width: 100%;
      opacity: 1;
    }
  }
}

.line{
  height: 2px;
  width:60%;
  background-color: #949494;
}

.actions {
  font-size:1.5em;

  display: flex;
  align-items: center;
  gap: 1em;
}

.button {
  cursor: pointer;
  border: none;
  background-color: #107e3e;
  color: #ffffff;
  padding: 0.85em 1.75em;
  border-radius: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: background-color 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
  transform 0.3s cubic-bezier(0.25, 0.8, 0.25, 1),
  box-shadow 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);

  @include utils.getFont('Inter', 0.95em, 600, 1);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -130%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
                    120deg,
                    transparent 0%,
                    rgba(255, 255, 255, 0.4) 50%,
                    transparent 100%
    );
    transition: all 0.7s ease-in-out;
    z-index: -1;
  }

  &:hover {
    background-color: #1e9852;
    transform: translateY(-0.15em);
    box-shadow: 0 0.5em 1em rgba(16, 126, 62, 0.25);

    &::before {
      left: 130%;
    }
  }

  &:active {
    transform: translateY(-0.05em);
    box-shadow: 0 0.25em 0.5em rgba(16, 126, 62, 0.25);
    transition-duration: 0.1s;
  }
}


