
@use "@scss/index" as utils;

.form{
  font-size:1rem;

  width:30em;

  padding:2em;

  border-radius:1em;

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:1em;

  -webkit-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.25);
}

.button {
  @include utils.getFont('Arial', 1.125em, 700, 1);

  padding: 1em 3em;
  background-color: #15793e;
  color: #ffffff;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 0.5em;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #126634;
  }
}